.price {
  padding-left: 5.5rem;
  font-size: 0.75rem;
}

.price li {
 display: inline-block;
}

.price li:first-child {
 color: #aaa;
 font-size: 1em;
 margin-right: .5em;
 padding: .5em 0;
 text-decoration: line-through;
}

.price li:last-child {
 color: #555;
 font-size: 1.25em;
}

.latest-news .story-title{
  font-size: 1rem;
}
.deal-image {
 width: 14%;
 height: 100%;

}
.news-article{
  /* height: 75px; */
}

.news-article a{
  display: block;
  height: 4.5em;
  position: absolute;
}

.discount-tag {
 display: none;
 background: url('../images/latest-deals/deals-ribbon.svg') no-repeat;
 background-size: cover;
 height: 6.25em;
 position: absolute;
 right: 0;
 top: 0;
 width: 6.25em;
 z-index: 1;
}

.discount-tag-price {
 display: none;
 color: #000;
 font-weight: bold;
 margin: 0 auto;
 position: absolute;
 right: 0;
 text-align: center;
 text-transform: uppercase;
 top: 0;
 transform: rotate(45deg);
 transform-origin: 0 0;
 z-index: 2;
}
