.muted-text {
 color: #aaa;
}

/* Header Section (Navigation Bars) */
.nav-dark {
 background-color: #000;
 color: #aaa;
}

.nav ul {
 display: flex;
 flex-direction: row;
 margin: 0 15px;
}

.nav-small ul li {
 padding: 8px;

}
.main-nav-holder{
	display:flex;
	flex-direction: row;
	background-color: #e8e8e8;
	padding: 16px 10px;

	align-items: center;
}
.main-nav{
	margin-right: 200px;
}
.main-nav li{
	margin-right: 17px;
	font-family: 
"ARS Maquette", "Helvetica Neue", Arial, sans-serif;
}
.timer-section span{
	padding-right: 20px;
}
