.apps-gear-tech .grid {
 display: grid;
 grid-auto-rows: minmax(270px, auto);
 grid-gap: 1.25em;
 grid-template-columns: repeat(3, 1fr);
 margin-top: 3em;
}

.main-ad {
 border: 1px solid black;
 border-radius: 2px;
}

.ad-content {
 clear: both;
}

.img1 {
 height: 270px;
 width: 100%;
 background-image: url('../images/apps-gear-tech/img2.png');
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
}

.float h4, .float p {
 color: white;
 font-weight: 700;
 font-size: 14px;
}

.ad-content .float {
 position: absolute;
 color: white;
 top: 150px;
 line-height: 20px;
 padding: 14px;
}

.float p.first {
 line-height: 1.4;
 margin-bottom: 5px;
}

.latest-content {
 display: flex;
 flex-direction: row;
 height: 96px;
 width: 100%;
}

.latest-content .section-latest-header {
 padding: 20px;
}

.section-latest-header h4, h5 {
 line-height: 1.4;
}

.latest-content .right-floated-image {
 background-position: 45% 90%;
 background-repeat: no-repeat;
 background-size: cover;
 height: 96px;
 width: 35%;
}

/* Latest Content Images */
.img-applebag {
 background-image: url(../images/apps-gear-tech/Apple-tag.jpg);
}

.img-apple-macbook {
 background-image: url(../images/apps-gear-tech/Apple-MacBook.jpg);
}

.img-chicken {
 background-image: url(../images/apps-gear-tech/chicken1200-368x276.png);
}

.img-coinbase {
 background-image: url(../images/apps-gear-tech/Coinbase.jpg);
}

.img-mk-maga-hat {
 background-image: url(../images/apps-gear-tech/MK-MAGA-hat.jpg);
}

.img-photoxpress {
 background-image: url(../images/apps-gear-tech/Pre-Launch-KV-796x448.png);
}

.img-stadia-black-hed {
 background-image: url(../images/apps-gear-tech/Stadia-black-hed.jpg);
}

.img-white {
 background-image: url(../images/apps-gear-tech/white.png);
}

.img2 {
 height: 270px;
 width: 100%;
 background-image: url('../images/apps-gear-tech/philips-hue-starter-kit-header-image-368x276.png');
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
}

.img3 {
 height: 270px;
 width: 100%;
 background-image: url('../images/apps-gear-tech/Photoxpress_5557101.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
}

.img4 {
 height: 270px;
 width: 100%;
 background-image: url('../images/apps-gear-tech/Untitled-design-7-368x276.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
}

.img5 {
 height: 270px;
 width: 100%;
 background-image: url('../images/apps-gear-tech/roland-368x276.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
}

.img6 {
 height: 270px;
 width: 100%;
 background-image: url('../images/apps-gear-tech/Opening-Party-23.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
}

.img7 {
 height: 270px;
 width: 100%;
 background-image: url('../images/apps-gear-tech/shutterstock.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
}

.img8 {
 height: 270px;
 width: 100%;
 background-image: url('../images/apps-gear-tech/firefox-stop.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
}