/* Latest News */
.latest-news-image1 {
 background-image: url('../images/latest-news/OPPO-header-image-reno-516x270.png');
}

.latest-news-image2 {
 background-image: url('../images/latest-news/01-Digital-2019.png');
}

.latest-news-image3 {
 background-image: url('../images/latest-news/AC-Unity-Free-Ubisoft-516x270.jpg');
}

.latest-news-image4 {
 background-image: url('../images/latest-news/diihuu-516x270.jpg');
}

.latest-news-image5 {
 background-image: url('../images/latest-news/rhino1200-796x417.png');
}

.latest-news-image6 {
 background-image: url('../images/latest-news/Google-Play-budget-hed-513x270.jpg');
}

.latest-news-image7 {
 background-image: url('../images/latest-news/dna-163466_1280-480x270.jpg');
}

.latest-news-image8 {
 background-image: url('../images/latest-news/Screen-Shot-2019-04-24-at-15.30.29-482x270.png');
}

/* Apps, Gear, Tech */
.img1 {
 background-image: url('../images/apps-gear-tech/img2.png');
}

.img2 {
 background-image: url('../images/apps-gear-tech/philips-hue-starter-kit-header-image-368x276.png');
}

.img3 {
 background-image: url('../images/apps-gear-tech/Photoxpress_5557101.jpg');
}

.img4 {
 background-image: url('../images/apps-gear-tech/Untitled-design-7-368x276.jpg');
}

.img5 {
 background-image: url('../images/apps-gear-tech/roland-368x276.jpg');
}

.img6 {
 background-image: url('../images/apps-gear-tech/Opening-Party-23.jpg');
}

.img7 {
 background-image: url('../images/apps-gear-tech/shutterstock.jpg');
}

.img8 {
 background-image: url('../images/apps-gear-tech/firefox-stop.jpg');
}

/* Right Floated Images - Ads Section */
.img-applebag {
 background-image: url('../images/apps-gear-tech/Apple-tag.jpg');
}

.img-apple-macbook {
 background-image: url('../images/apps-gear-tech/Apple-MacBook.jpg');
}

.img-chicken {
 background-image: url('../images/apps-gear-tech/chicken1200-368x276.png');
}

.img-coinbase {
 background-image: url('../images/apps-gear-tech/Coinbase.jpg');
}

.img-mk-maga-hat {
 background-image: url('../images/apps-gear-tech/MK-MAGA-hat.jpg');
}

.img-photoxpress {
 background-image: url('../images/apps-gear-tech/Pre-Launch-KV-796x448.png');
}

.img-stadia-black-hed {
 background-image: url('../images/apps-gear-tech/Stadia-black-hed.jpg');
}

.img-white {
 background-image: url('../images/apps-gear-tech/white.png');
}