.latest-news {
 padding-top: 1.5em;
}

.latest-news .grid {
 display: grid;
 grid-auto-rows: 16em;
 grid-gap: 1.25em;
 grid-template-columns: repeat(4, 1fr);
 margin-top: 3em;
}

.news-article {
 border: 1px solid black;
 border-radius: 2px;
}

.latest-news .main-heading a {
 color: #f42;
 font-family: Avalon, sans-serif;
 font-weight: 700;
 line-height: 1.1;
 text-decoration: none;
}

.latest-news .main-heading a i {
 display: inline-block;
 margin-bottom: 2px;
 margin-left: 4px;
}

@media (min-width: 768px) {
 .latest-news .main-heading {
  font-size: 28px;
 }

 .latest-news .main-heading a i {
  font-size: 16px;
 }
}