.latest-news .grid {
 display: grid;
 grid-gap: 1.25em;
 grid-auto-rows: 16em;
 grid-template-columns: repeat(4, 1fr);
 margin-top: 3em;
}

.news-article {
 border: 1px solid black;
 border-radius: 2px;
}