.latest-funding-container{
	padding: 20px;
}
.deals-header{
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 32px;
}
.deals-header ul {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}
.deals-header ul li{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-right: 1px solid red;
}
.deals-header div{
	display: flex;
	flex-direction: row;
	align-items: center;
}