.price li {
 display: inline-block;
}

.price li:first-child {
 color: #aaa;
 font-size: 1em;
 margin-right: .5em;
 padding: .5em 0;
 text-decoration: line-through;
}

.price li:last-child {
 color: #555;
 font-size: 1.25em;
}

.deal-image {
 width: 100%
}