.container {
 display: grid;
 grid-gap: 10px;
 grid-template: repeat(2, 20em) / repeat(6, 1fr);
 padding: 3px 5px;
}

.hero1 {
 background-color: #000;
 background-image: url("../../images/hero-section/battledroid-Cropped-796x419.jpg");
 background-position: 50%;
 background-size: cover;
 grid-column: 1/5;
 grid-row: 1/3;
 opacity: 1;
 position: relative;
 transition: .4s ease;
 will-change: opacity;
}

.hero2 {
 background-image: url('../../images/hero-section/carrefour-blockchain-cryptocurrency-796x450.jpg');
 background-position: 50%;
 background-size: cover;
 grid-column: 5/7;
 grid-row: 1/2;
}

.hero3 {
 background-color: gray;
 background-image: url('../../images/hero-section/new-breed-_chivas-796x531.jpeg');
 background-position: 50%;
 background-size: cover;
 grid-column: 5/7;
 grid-row: 2/3;
}

.overlay {
 background: url("../../images/cover-gradient.png") left top no-repeat,
  url("../../images/image-gradient.png") bottom right repeat-x;
 background-size: cover;
 height: 100%;
 opacity: .6;
 will-change: opacity;
}

.overlay2 {
 background: url("../../images/image-gradient.png") bottom right repeat-x;
 background-size: cover;
 height: 100%;
 opacity: .5;
}

.latest-funding {
 display: grid;
 grid-gap: 20px;
 grid-template: repeat(1, 20em) / repeat(4, 1fr);
 margin-top: 50px;
}

.apps-gears-tech {
 display: grid;
 grid-gap: 20px;
 grid-template: repeat(3, 30em) / repeat(3, 1fr);
 margin-top: 50px;
 padding: 20px;
}

.apps-gears-tech .news {
 background-color: orange;
 border: 1px solid black;
 padding: 5px 23px;
}

.container .overlay {
 color: white;
 padding: 20px;
 position: absolute;
 width: 100%;
}

.overlay .cover-header {
 position: relative;
 top: 300px;
}

.cover-header h2 {
 color: #f42;
 font-family: "Avalon", sans-serif;
 font-size: 2.5em;
 font-weight: 700;
 line-height: 1;
 margin-bottom: .25em;
 opacity: 1;
}

.cover-header h5 {
 text-transform: uppercase;
}

.container .overlay2 {
 color: white;
 width: 100%;
}

.cover-header2 {
 padding: 10px;
}

.overlay2 .cover-header2 {
 position: relative;
 top: 195px;
}

.cover-header h2 a {
 color: #fff;
 font-size: 100%;
 height: auto;
 letter-spacing: -.015em;
 text-decoration: none;
 width: auto;
}

.cover-header2 h2 {
 color: #f42;
 font-family: "Avalon", sans-serif;
 font-size: 16px;
 font-weight: 400;
 line-height: 1;
 margin-bottom: .4em;
 opacity: 1;
}

.cover-header2 h2 a {
 color: #fff;
 font-size: 100%;
 height: auto;
 letter-spacing: -.015em;
 text-decoration: none;
 width: auto;
}

.cover-header2 h5 {
 text-transform: uppercase;
}

.cover-byline {
 display: flex;
 flex-direction: row;
 font-size: 12px;
}

.cover-byline li {
 margin-right: 10px;
}

.logo-day-date {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.img-holder {
 width: 50%;
}

.logo-day-date p {
 width: 45%;
 display: flex;
 justify-content: flex-end;
}